{
  "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
  "description": "Vega lite line chart specification.",
  "padding": {"left": 5, "top": 5, "right": 20, "bottom": 5},
  "width": "container",
  "height": "container",
  "title": "{{ title }}",
  "config": {
    "text": {
      "align": "right",
      "dx": -5
    }
  },
  "data": {
    "values": {{ data|safe }}
  },
  "encoding": {
    "x": {
      "type": "temporal",
      "field": "x",
      "title": "Date"
    }
  },
  "layer": [{
    "encoding": {
      "y": {
        "type": "quantitative",
        "field": "y",
        "title": "{{ unit }}",
        "format": ".2f"
      },
      "color": {
        "type": "nominal",
        "field": "c",
        "title": "Category",
        "legend": {
          "orient": "bottom"
        }
      }
    },
    "layer": [
      {
        "mark": "line"
      },{
        "transform": [{"filter": {"selection": "hover"}}],
        "mark": "circle"
      },{
        "transform": [{"filter": {"selection": "hover"}}],
        "mark": {
          "type": "text",
          "stroke": "white",
          "strokeWidth": 2
        },
        "encoding": {
          "text": {
            "type": "quantitative",
            "field": "y",
            "format": ".2f"
          }
        }
      },{
        "transform": [{"filter": {"selection": "hover"}}],
        "mark": "text",
        "encoding": {
          "text": {
            "type": "quantitative",
            "field": "y",
            "format": ".2f"
          }
        }
      },{
        "transform": [{"filter": {"selection": "hover"}}],
        "mark": "text",
        "encoding": {
          "color": {"value": "black"},
          "y": {"value": 10},
          "text": {
            "type": "temporal",
            "field": "x"
          }
        }
      }
    ]
  },{
    "mark": "rule",
    "encoding": {
      "opacity": {
        "condition": {"value": 0.3, "selection": "hover"},
        "value": 0
      }
    },
    "selection": {
      "hover": {
        "type": "single",
        "nearest": true,
        "on": "mouseover",
        "encodings": ["x"],
        "empty": "none"
      }
    }
  }]
}
