{
  "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
  "description": "Vega lite line chart specification.",
  "padding": {"left": 5, "top": 5, "right": 20, "bottom": 5},
  "width": "container",
  "height": "container",
  "title": "{{ title }}",
  "data": {
    "values": {{ data|safe }}
  },
  "layer": [{
    "mark": {"type": "line", "tooltip": true},
    "encoding": {
      "x": {
        "type": "temporal",
        "field": "x",
        "title": "Date"
      },
      "y": {
        "type": "quantitative",
        "field": "y",
        "title": "{{ unit }}",
        "format": ".2f"
      },
      "color": {
        "type": "nominal",
        "field": "c",
        "title": "Category"
      }
    }
  }]
}
