{
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "Vega stacked area chart specification.",
  "padding": {"left": 5, "top": 5, "right": 20, "bottom": 5},
  "autosize": {"type": "fit", "contains": "padding"},

  "title": {
    "text": "{{ title }}"
  },

  "signals": [
    {
      "name": "width",
      "init": "containerSize()[0]",
      "on": [{"events": "window:resize", "update": "containerSize()[0]"}]
    },
    {
      "name": "height",
      "init": "containerSize()[1]",
      "on": [{"events": "window:resize", "update": "containerSize()[1]"}]
    }
  ],

  "data": [
    {
      "name": "table",
      "values": {{ data|safe }},
      "transform": [
        {
          "type": "stack",
          "groupby": ["x"],
          "sort": {"field": "c"},
          "field": "y"
        }
      ]
    }
  ],

  "scales": [
    {
      "name": "xscale",
      "type": "time",
      "range": "width",
      "domain": {"data": "table", "field": "x"}
    },
    {
      "name": "yscale",
      "type": "linear",
      "range": "height",
      "nice": true, "zero": true,
      "domain": {"data": "table", "field": "y1"}
    },
    {
      "name": "color",
      "type": "ordinal",
      "range": "category",
      "domain": {"data": "table", "field": "c"}
    }
  ],

  "axes": [
    {"orient": "bottom", "scale": "xscale", "zindex": 1},
    {"orient": "left", "scale": "yscale", "zindex": 1, "title": "{{ unit }}"}
  ],

  "marks": [
    {
      "type": "group",
      "from": {
        "facet": {
          "name": "series",
          "data": "table",
          "groupby": "c"
        }
      },
      "marks": [
        {
          "type": "area",
          "from": {"data": "series"},
          "encode": {
            "enter": {
              "interpolate": {"value": "monotone"},
              "x": {"scale": "xscale", "field": "x"},
              "y": {"scale": "yscale", "field": "y0"},
              "y2": {"scale": "yscale", "field": "y1"},
              "fill": {"scale": "color", "field": "c"},
              "tooltip": {"signal": "{date: join([year(datum.x), month(datum.x)+1, day(datum.x)+1], '-'), value: format(datum.y, '.2f'), group: datum.c}"}
            },
            "update": {
              "fillOpacity": {"value": 1}
            },
            "hover": {
              "fillOpacity": {"value": 0.5}
            }
          }
        }
      ]
    }
  ]
}
