{
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "Vega line chart spec.",
  "padding": {"left": 5, "top": 5, "right": 20, "bottom": 5},
  "autosize": {"type": "fit", "contains": "padding"},

  "title": {
    "text": "{{ title }}"
  },

  "signals": [
    {
      "name": "width",
      "init": "containerSize()[0]",
      "on": [{"events": "window:resize", "update": "containerSize()[0]"}]
    },
    {
      "name": "height",
      "init": "containerSize()[1]",
      "on": [{"events": "window:resize", "update": "containerSize()[1]"}]
    }
  ],

  "data": [
    {
      "name": "table",
      "values": {{ data|safe }}
    }
  ],

  "scales": [
    {
      "name": "x",
      "type": "time",
      "range": "width",
      "domain": {"data": "table", "field": "x"}
    },
    {
      "name": "y",
      "type": "linear",
      "range": "height",
      "nice": true,
      "zero": true,
      "domain": {"data": "table", "field": "y"}
    },
    {
      "name": "color",
      "type": "ordinal",
      "range": "category",
      "domain": {"data": "table", "field": "c"}
    }
  ],

  "axes": [
    {"orient": "bottom", "scale": "x"},
    {"orient": "left", "scale": "y", "title": "{{ unit }}"}
  ],

  "marks": [
    {
      "type": "group",
      "from": {
        "facet": {
          "name": "series",
          "data": "table",
          "groupby": "c"
        }
      },
      "marks": [
        {
          "type": "line",
          "from": {"data": "series"},
          "encode": {
            "enter": {
              "x": {
                "scale": "x",
                "field": "x",
                "type": "temporal"
              },
              "y": {"scale": "y", "field": "y"},
              "stroke": {"scale": "color", "field": "c"},
              "strokeWidth": {"value": 2}
            }
          }
        }
      ]
    }
  ]
}
