{% extends "base-sb-admin-2.html" %}

{% load static %}

{% block title %}
    Data Graph - Browser
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Browser</h1>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form.vega_spec_nodes }}
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12" id="vega-chart-container"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "bootstrap-select/css/bootstrap-select.min.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "bootstrap-select/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "datagraph/viewer-browser.bundle.js" %}"></script>
{% endblock %}
