{% extends "base-sb-admin-2.html" %}

{% block title %}
    Data Graph - Dashboard
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Charts</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ charts_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Data Nodes</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data_notes_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dot-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Data Graph</h6>
                    </div>
                    <div class="card-body">
                        <p>This website is dedicated to collect and share useful data, like macro economy data. Internally, it uses data graph pipe to enable the flexibility of aggregating and calculating data from different data source.</p>
                        <a target="_blank" rel="nofollow" href="https://github.com/zw-normal/datagraph">Access Source Code &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
